@page { margin: 0 }
body { margin: 0 }
main { margin: 0 }
.sheet {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  overflow: visible;
  height: auto !important;
}

/** Paper sizes **/
main.A3           .sheet { width: 297mm; height: 419mm }
main.A3.landscape .sheet { width: 420mm; height: 296mm }
main.A4           .sheet { width: 210mm; height: 296mm }
main.A4.landscape .sheet { width: 297mm; height: 209mm }
main.A5           .sheet { width: 148mm; height: 209mm }
main.A5.landscape .sheet { width: 210mm; height: 147mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #f5f5f5 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           main.A3.landscape { width: 420mm }
  main.A3, main.A4.landscape { width: 297mm }
  main.A4, main.A5.landscape { width: 210mm }
  main.A5                    { width: 148mm }
}